<!doctype html>
<html lang="en">
  <head>
    {{>headerlink}}
  </head>
  <body>
   {{>navbar}}

   <!-- main header -->


   <div class="container-fluid main_header">
       <div class="row">
           <div class="col-md-10 col-12 mx-auto">
           <div class="row">

           
            <!-- left side -->
            <div class="col-md-12 col-12 main_header_left align-items-center">
                <figure>
                    <img src="images/404.webp" alt="404" class="img-fluid">
                </figure>
              <p>welcome to my weather app</p>
              <h1><span class="text-clr">{{errMsg}}</span> </h1>
              <a href="/" target="_blank"><button>GO Back</button></a>
            </div>
            
            <!-- right side -->


           


          </div>

           </div>
       </div>
   </div>

   <!-- footer code -->
{{>footer}}
   
  </body>
</html>